# http://railsapps.github.io/rails-environment-variables.html
# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# GMAIL_USERNAME: 'Your_Gmail_Username'
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]
SECRET_KEY_BASE: 
PG_ENV_DATABSE:
PG_ENV_USERNAME:
PG_ENV_PASSWORD:
PG_ENV_DBHOST:
PG_ENV_DBPORT:
